
body{
    background-image: url(https://i.pinimg.com/originals/b6/a4/20/b6a420803f582395034f7d45970517e5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 35px;

}

.footer {
    font-weight: lighter;
    height: 30px;
    line-height: 30px;
}

.body {
    
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.452);
  }

.quienes{
     font-size: 45px;
}

a{
    color: black;
}

.empresaInput{
    width:400px;
}

.labelReserva {
    height: 45px;
    display: block;
    box-sizing: border-box !important;
    color:white !important;
    
}

.inputReserva[type=checkbox] {
    display: none;
}

.inputReserva:checked + .labelReserva {
    border: solid 1px rgb(253, 196, 7) !important;
    color: rgb(253, 196, 7) !important;
}

.inputReserva:checked + .labelReserva:before {
    content: "\2713 " !important;
}


i{color:white;
font-size:150%;
}
.iconoParada{
color:white;
font-size:80%
}


.labelRegistros{
    font-size: 25px;
    font-weight: 200;
}

.login{
    
    width: 400px;
   
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.olvidasteAnchor{
    font-size: 13px;
    
    font-weight: bold;
    text-decoration: none !important;
}

.tabla{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

select{
    font-weight: 300 !important;
    font-size: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.boton{
    font-weight: lighter !important;
}



.parada{
    font-weight: 300;
    font-size: 25px;
}

.hora{
    font-size: 20px;
}


.horaEmpresa{
    font-size: 20px;
    display: inline-flex;
    
}

.editLinea{
    display: inline-flex;
    width: 500px;
}

.hora:hover{
    background-color: rgba(114, 114, 114, 0.459) !important;
}

.alerta{
    color: black !important;
}

.asientos{
    font-size: 20px;
    font-weight: 200;
}

.selectorAsientos{
    width: 350px;
}

.botonAsiento{
    font-size: 120%;
}

.reservas{
    width: 280px;
    font-size: 20px;
    font-weight: 200;
}

.datosReserva{
    font-weight: 200;
}

.infoReserva:hover{
    background-color: rgba(114, 114, 114, 0.459) !important;
}

.fa-user{
    font-size: 18px;
}

.me-auto{
    margin-left: 500px;
}

.irAtras{
    font-size: 30px;
    font-weight: 100;
    text-decoration: none;
}

.irAtras:hover{
    text-decoration: none;
    color: white
}

.iconoInput{
    color: rgba(0, 0, 0, 0.699)
}

.recover{
    width: 420px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.olvidaste{
    font-size: 35px;
 font-weight: 100;
}

.restablecer{
font-size: 20px;
 font-weight: 100;
}