
body{
    background-color: #1D1B1F;
    font-family:  Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    background: hsla(221, 45%, 73%, 1);

    background: radial-gradient(circle, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    
    background: -moz-radial-gradient(circle, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    
    background: -webkit-radial-gradient(circle, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    
   
}


.bg-dark{
    // background-color: #4c61bd57 !important;
    background-color: #9bafd934 !important;
    box-shadow: rgba(0, 0, 0, 0.507) 0px 4px 12px !important;
    border-radius: 5px !important;
    border: none !important;
}

.bg-select{
    background-color: #9BAFD9 !important;
}

.btn-dark{
    background-color: #103783 !important;
    box-shadow: rgba(0, 0, 0, 0.63) 0px 4px 12px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-dark:hover{
    background-color: #10368369 !important;
}

.navbar-dark{
    background-color: #103783 !important;
    border-radius: 5px;
}

.footer {
    font-weight: lighter;
    height: 30px;
    line-height: 30px;
}

.modal-open {
    padding-right: 0 !important;
  }
  html {
    overflow-y: scroll !important;
  }


.quienes{
     font-size: 40px;
}

a{
    color: black;
}



.labelReserva {
    height: 45px;
    display: block;
    box-sizing: border-box !important;
    color:white !important;
    
}

.inputReserva[type=checkbox] {
    display: none;
}

.inputReserva:checked + .labelReserva {
    border: solid 1px rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    background-color: #103783 !important;
}

.inputReserva:checked + .labelReserva:before {
    content: "\2713 " !important;
}


i{color:rgb(0, 0, 0);
font-size:150%;
}

.iconoNavbar, .iconoMap{
    color: white;
}

.iconoParada{
color:white;
font-size:80% 
}


.labelRegistros{
    font-size: 25px;
    font-weight: 200;
}



.olvidasteAnchor{
    font-size: 13px;
    
    font-weight: bold;
    text-decoration: none !important;
}

.tabla{
    border: none !important;
    border-radius: 5px !important;
    background-color: #5371AC;
    box-shadow: rgba(0, 0, 0, 0.664) 0px 4px 12px;
}
   

select{
    transition: 0.3s !important;
    font-weight: 300 !important;
    font-size: 20px !important;
    
}





.boton{
    font-weight: lighter !important;
    font-size: 20px;
}

.userBotones{
    transition: 0.3s;
    font-size: 30px;
    font-weight: 300;
}
.userBotones:hover{
    background-color: #103783 !important;
}

.parada{
    font-weight: 300;
    font-size: 25px !important;
}

.liColor{
    background-color: #2d2d4900;
}

.hora{
    
    font-size: 20x;
    transition: 0.3s;
}

.horaEmpresa{
    font-size: 20px;
    display: inline-flex;
    
}

.editLinea{
    display: inline-flex;
}

.hora:hover{
    background-color: #10368369 !important;
}

.alerta{
    color: black !important;
}

.asientos{
    transition: 0.3s;
    font-size: 25px;
    font-weight: 200;
}


.botonAsiento{
    font-size: 20px;
    color: white;
}

.reservas{
    
    transition: 0.3s !important;
    font-size: 20px;
    font-weight: 200;
}

.datosReserva{
    font-weight: 200;
}

.iconosEmpresa{
    color: white;
    font-size: 33px;
}

.infoReserva{
    transition: 0.3s;
    background-color: #9bafd934 !important;
    box-shadow: rgba(0, 0, 0, 0.199) 0px 4px 12px;
    border-radius: 5px;
}
.infoReserva:hover{
    background-color: #10368369 !important;
}

.fa-user{
    font-size: 18px;
}

.me-auto{
    margin-left: 500px;
}

.iconoAtras{
    font-size: 30px;
    color: white;
}

.irAtras{
    font-size: 30px;
    font-weight: 100;
    text-decoration: none;
}

.irAtras:hover{
    text-decoration: none;
    color: white
}

.iconoInput{
    color: rgba(0, 0, 0, 0.699)
}

.recover{
    width: 420px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.olvidaste{
    font-size: 35px;
 font-weight: 100;
}

.restablecer{
font-size: 20px;
 font-weight: 100;
}

.botonEditar{
    display:none;
}

.quienes-img{width:70%;}