body{
    background-image: url(https://i.pinimg.com/originals/b6/a4/20/b6a420803f582395034f7d45970517e5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.body{
    background-color: rgba(0, 0, 0, 0.452);
}